body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;
  padding: 40px;
}

#Box1 {
  background-color: #66bb6a;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 700px;
  text-align: center;
  font-size: 25px;
}

#Box2 {
  background-color: #bd4974;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  font-size: 25px;
}

#Box3 {
  background-color: #b5b868;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 600px;
  text-align: center;
  font-size: 50px;
}

#Box4 {
  background-color: #bd4974;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  font-size: 25px;
}

#Box5 {
  background-color: #a85580;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 200px;
  text-align: center;
  font-size: 80px;
}

#Box6 {
  background-color: #61a9ba;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  font-size: 25px;
}

#Box7 {
  background-color: #ad5b3f;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 500px;
  text-align: center;
  font-size: 25px;
}

#Box8 {
  background-color: #4d4bbc;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 500px;
  text-align: center;
  font-size: 25px;
}

#Box9 {
  background-color: #b3b067;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  text-align: center;
  font-size: 25px;
}
